<div class="title-container">
  <h1> Merchants </h1>
</div>

<form method="get" action="/merchants/new">
  <input type="submit" value="Create new Merchant."/>
</form>

<div class="monthly_transactions">
  <% for merchant in @merchants%>
  <ul>
    <li><a href="/merchants/<%=merchant.id%>/edit"><%=merchant.name%></a></li>
    <li>  <form class="button"method="get" action="/merchants/<%=merchant.id%>">
      <input type="submit" value="View Transactions."/></form></li>

    </ul>
    <%end%>
  </div>
