<h1> Merchants </h1>

<ul>
  <% for merchant in @merchants %>
  <li>
    <p> <%=merchant.name%> </p>
    <form method="get" action="/merchants/<%=merchant.id%>">
      <input type="submit" value="View Transactions."/>
      </form
  </li>
  <% end %>
</ul>

<form method="get" action="/merchants/new">
  <input type="submit" value="Create new Merchant."/>
</form>
