<div class="title-container">
  <h1> Add New Merchant </h1>
</div>

<form class="merchant" action="/merchants" method="post">
  <label for="name"> Merchant Name: </label>
  <input id="name" type = "text" name = "name"/>

  <input type="submit" value="Save Merchant"/>
</form>
