<h1> Add new Merchant</h1>

<form action="/merchants" method="post">

  <label for="name"> Merchant Name: </label>
  <input id="name" type = "text" name = "name"/>

  <input type="submit" value="Save Merchant"/>
</form>
