<h1> Merchant Transactions </h1>


<ul>
  <% for transaction in @merchant_transactions %>
  <li>
    <p> <%=transaction.transaction_date%> <%= transaction.merchant.name%>, <%= "£#{transaction.amount}"%> <%= transaction.tag.category%> </p>
  </li>
  <% end %>
</ul>
