
<div class="banner">
  <br>
  <br>
</div>

<div class="header">
  <h1> Welcome User, View your monthly summary below</h1>
</div>


<div class="budget">
  <h1> Overview:</h1>
  <p> Budget:</p>
  <p> £<%=@budget%></p>
  <p> Spent:</p>
  <p>£<%=@monthly_spend.round(2)%></p>
  <p>£<%=@remaining.round(2)%></p>

</div>
