body{
  background-color:#eaf3f9;

}


.circle-container{
  display: flex;
  justify-content: center;
}

.header{
  display:flex;
  justify-content:center;
}

.header h1{
  color:#637383;
font-family: 'Titillium Web', sans-serif;
}

.banner{
  background-color:#0adbae;
}

.budget{
  display:flex;
  justify-content:space-around;
  border-radius: 5%;
  width: 90%;
  height:450px;
  background-color:#0adbae;
}
.budget h1{
  font-family: 'Titillium Web', sans-serif;
  color:#637383;
}

.budget p{
  font-family: 'Titillium Web', sans-serif;
  color:#637383;
  font-size:20pt;
  margin:10px;
}

#spent{
  margin:0;
  color:red;
  font-size: 20pt;
}
#available{
  margin:0;
  color: white;
  font-size: 20pt;
}
#target{
  margin:0;
  color:white;
  font-size:20pt;
}


.floating-menu{
  display:flex;
  justify-content:flex-end;
font-family: 'Titillium Web', sans-serif;
  padding: 10px;

}

.floating-menu ul{
list-style-type:none ;
margin:0;
padding:0;
}

.floating-menu li{
  display:inline-flex;
justify-content:space-between;
padding: 10px;

}

.floating-menu li a{
  color:#637383;
  text-decoration:none;
  padding:10px;
}

.floating-menu li a:hover,a:active{
  background-color:#0adbae;
  color:white;
  border-bottom:1px black;
}

p {
  text-align: center;
  color:#ffffff;
  font-size:16pt;
}

.padding-center {
  padding-top: 0pt;

}

.monthly_transactions ul {
  padding-top:10px;
  padding-bottom: 20px;
  display: flex;
justify-content: space-between;
list-style-type: none;
border-bottom: 2px dotted #637383;

}
.monthly_transactions li{
font-family: 'Titillium Web', sans-serif;
  color :#45517f;
  font-size:20pt;
}

.title-container{
  display:flex;
  justify-content:center;
}
.title-container h1{
  font-family: 'Titillium Web', sans-serif;
  color :#45517f;
}

#title {
  padding-top:20px;
  padding-bottom: 20px;
  display: flex;
justify-content: space-between;
list-style-type: none;
background-color:#0adbae;
font-size:20pt;
color :#45517f;
}

.pie {ß
  display: inline-block;
  width: 3.75em;
  height: 3.75em;
  border-radius: 50%;
  border: .15em solid #fff;
  box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);
  background-origin: border-box;
}

.pie{
  background-image: conic-gradient(
    white calc(3.6deg * var(--segment1,100)),
    #fc3 calc(3.6deg * var(--segment1,100)),
    #fc3 calc(3.6deg * var(--segment2,100)),
    black calc(3.6deg * var(--segment2,100)),
    black calc(3.6deg * var(--segment3,100)),
    aqua calc(3.6deg * var(--segment3,100)),
    aqua calc(3.6deg * var(--segment4,100)),
    #ac0 0
  );

}

.form{
  display:inline-flex;
  justify-content:space-between;
  width:100%;
  padding-bottom:10px;
  border-bottom: 2px dotted #637383;
}

.summary ul li{
  padding:5px;
}

input[type=submit]{
  width:200px;
  background-color:#0adbae;
  font-family: 'Titillium Web', sans-serif;
  font-size:11pt;
  color :#45517f;
}

form {
  display:flex;
  width:100%;
  justify-content:space-between;
  font-family: 'Titillium Web', sans-serif;
  font-size:14pt;
  color :#45517f;

}
