<div class="title-container">
  <h1> Tags </h1>
</div>

<form method="get" action="/tags/new">
  <input class="submit" type="submit" value="Create new Tag."/>
</form>


<div class="monthly_transactions">
  <% for tag in @tags%>
  <ul>
    <li>Category : <a href='/tags/<%=tag.id%>/edit'><%=tag.category%></a></li>
    <li>Monthly Budget: £<%= tag.budget%></li>
  </ul>
  <%end%>
</div>
