<h1> Tags </h1>

<ul>
  <% for tag in @tags %>
  <li>
    <p>Category: <%=tag.category%></p>

    <p> Monthly Budget: £<%=tag.budget%> </p>

  </li>

  <% end %>
</ul>

<form method="get" action="/tags/new">
  <input type="submit" value="Create new Tag."/>
