<div class="title-container">
  <h1> Add New Tag </h1>
</div>

<form action="/tags" method="post">

  <label for="category"> Category: </label>
  <input id="category" type = "text" name = "category"/>

  <label for="budget"> Monthly Budget:</label>
  <input id="budget" type="number" name="budget" min="0"/>

  <input type="submit" value="Save Tag"/>
</form>
