<div class="title-container">
  <h1> <%=@transactions[0].transaction_date.strftime("%B")%>  Transactions </h1>
</div>

<form method="post" action="/transactions/date">
  <label for="date-select">FILTER BY DATE:</label>
  <input id="filter-date" type="month" name="filter-date"/>
  <input type="submit" value="Filter by date."/>
</form>

<div class="monthly_transactions">
  <% for transaction in @sorted_transactions%>
  <ul>
    <li><%=transaction.transaction_date.strftime("%a - %d %B")%></li>
    <li><%= transaction.merchant.name%></li>
    <li><%= "£#{transaction.amount}"%></li>
  </ul>
  <%end%>
</div>
