
<form method="post" action="/transactions/date">
  <label for="date-select">FILTER BY DATE:</label>
  <input id="filter-date" type="month" name="filter-date"/>
  <input type="submit" value="Filter by date."/>
</form>

<ul>
  <% for transaction in @transactions %>
  <li>
    <p> <%=transaction.transaction_date%> <%= transaction.merchant.name%>, <%= "£#{transaction.amount}"%> <%= transaction.tag.category%> </p>
  </li>
  <% end %>
</ul>
